<div class = "nav-container">
    <div class="nav-content"> 
        <div class="logo">
        <h1 class="logo-text">lOOKSHOT</h1>
        </div>
    <div class="selector-container">
    <div class="selector"></div>
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>movie options</mat-label>
            <mat-select class="selected" [(ngModel)]="selectedOption" (selectionChange)="onSelectionChange()">
                @for (option of options; track option.value) {
                    <mat-option [value]="option.value" class="option-item">{{option.viewValue}}</mat-option>
                }
                </mat-select>
            </mat-form-field> 
        </div>
    </div>
</div>



