<div *ngIf = "isLoading" class="loading">
  <mat-spinner diameter = '50'></mat-spinner>
</div>
<div class="app" [class.blur-content]="isLoading">
  <app-nav (optionSelected)="onOptionSelected($event)"></app-nav>

  <div class="search">
    <input type="text" placeholder="Search for Movies" [(ngModel)] = "searchTerm" (keyup.enter)="onSearch()">
    <mat-icon aria-hidden="false" aria-label="" fontIcon="search" (click) = "onSearch()"></mat-icon>
  </div>
  <div *ngIf="showListView">
  <div *ngIf = "movies.length > 0; else noMovies" class="container">
    <div *ngFor = "let movie of movies" class="moive" (click)="selectMovie(movie)">
    <div class="image">
      <img [src]= "movie.poster_path !== 'N/A' ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path: 'http://via.placeholder.com/400'" [alt]="movie.original_title">
    </div>
    <div>
      <p><strong>{{movie.title}}</strong></p>
     
      <h3> {{movie.release_date}} </h3>
    </div>
  </div>
</div>


<ng-template #noMovies>
  <div class="empty">
    <h2>No Movie Found</h2>
  </div>
</ng-template>
</div>

<div *ngIf="!showListView">
  <button (click) = 'backToList() ' class="backButton">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <app-movie-detail *ngIf = 'selectedMovie' [movie]="selectedMovie"></app-movie-detail>
</div>


</div>