.loading{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.app{
    max-width: 2000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: #6674c3;
    text-align: center;
    padding: 30px;
    margin: 0;
    background-color: #ddd;
    font-size: 40px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
    max-width: 500px;
    padding-top:15px;
}

.search input{
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 30px;
    width: 100%;
    font-size: 16px;
}

.search mat-icon{
    color: #6674c3;
    cursor: pointer;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.moive{
    margin: 0.3rem;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.image :hover{
    transform: translate(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.moive img{
    width: 100%;
    height: 350px;
    object-fit:cover;
}
.backButton{
    margin-bottom:20px;
    margin-left: 20px;
    background-color: #5c6dd1;
    color: aliceblue;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}